<ng-container *ngIf="game$ | async as game">
    <div class="top half">
        <p *ngIf="gameService.role == 'UP'">
            <ng-container *ngIf="game.turn == gameService.role">it's your turn!</ng-container>
            <ng-container *ngIf="game.turn != gameService.role">wait for the opponent's move...</ng-container><br />
            <br />
        </p>
        <h2 [ngClass]="{ highligthed: game.turn == 'UP' }">
            <span *ngIf="gameService.role == 'UP'">you </span>
            <span *ngIf="gameService.role == 'DOWN'">opponent </span>
        </h2>
        <div class="pods">
            <div [ngClass]="{ pod: true, big: true, empty: game.pods[13] == 0 }">{{ game.pods[13] }}</div>
            <div
                *ngFor="let i of upperPods"
                [ngClass]="{ pod: true, actionable: gameService.role == 'UP' && game.turn == 'UP' && game.pods[i] != 0, empty: game.pods[i] == 0 }"
                (click)="move(i)"
            >
                {{ game.pods[i] }}
            </div>
        </div>
    </div>
    <div class="bottom half">
        <div class="pods">
            <div
                *ngFor="let i of lowerPods"
                [ngClass]="{ pod: true, actionable: gameService.role == 'DOWN' && game.turn == 'DOWN' && game.pods[i] != 0, empty: game.pods[i] == 0 }"
                (click)="move(i)"
            >
                {{ game.pods[i] }}
            </div>
            <div [ngClass]="{ pod: true, big: true, empty: game.pods[6] == 0 }">{{ game.pods[6] }}</div>
        </div>
        <h2 [ngClass]="{ highligthed: game.turn == 'DOWN' }">
            <span *ngIf="gameService.role == 'DOWN'">you</span>
            <span *ngIf="gameService.role == 'UP'">opponent</span>
        </h2>
        <p *ngIf="gameService.role == 'DOWN'">
            <ng-container *ngIf="game.turn == gameService.role">it's your turn!</ng-container>
            <ng-container *ngIf="game.turn != gameService.role">wait for opponents move...</ng-container><br />
            <br />
        </p>
    </div>
</ng-container>
