<table>
    <tr>
        <td rowspan="2"></td>
        <td>
            ▪️▪️▪️<br />
            ▪️▪️▪️
        </td>
        <td>
            ▪️▪️▪️<br />
            ▪️▪️▪️
        </td>
        <td>
            ▪️▪️▪️<br />
            ▪️▪️▪️
        </td>
        <td>
            ▪️▪️▪️<br />
            ▪️▪️▪️
        </td>
        <td>
            ▪️▪️▪️<br />
            ▪️▪️▪️
        </td>
        <td>
            ▪️▪️▪️<br />
            ▪️▪️▪️
        </td>
        <td rowspan="2"></td>
    </tr>
    <tr>
        <td>
            ▪️▪️▪️<br />
            ▪️▪️▪️
        </td>
        <td>
            ▪️▪️▪️<br />
            ▪️▪️▪️
        </td>
        <td>
            ▪️▪️▪️<br />
            ▪️▪️▪️
        </td>
        <td>
            ▪️▪️▪️<br />
            ▪️▪️▪️
        </td>
        <td>
            ▪️▪️▪️<br />
            ▪️▪️▪️
        </td>
        <td>
            ▪️▪️▪️<br />
            ▪️▪️▪️
        </td>
    </tr>
</table>
