h1, h2, p {
    text-align: center;
}

table {
}

td {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 6px 2px;
    text-align: center;
    width: 3em;
}

.pod {
    cursor: pointer;
}