@import '../../variables';

table {
}

td {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 6px 2px;
    text-align: center;
    width: 3em;
}

.pods {
    display: flex;
    height: 70px;
    overflow: visible;

    justify-content: center;

    .top & {
        align-items: flex-start;
        transform: translateX(calc(-6.75vw + 2px));

        @media (min-width: 450px)  {
            transform: translateX(-29px);
        }
    }

    .bottom & {
        align-items: flex-end;
        transform: translateX(calc(6.75vw - 2px));

        @media (min-width: 450px)  {
            transform: translateX(29px);
        }
    }

    .pod {
        background: white;
        box-sizing: border-box;
        border-radius: 20px;
        color: black;
        cursor: not-allowed;
        display: inline-flex;
        height: 70px;
        margin: 0 4px;
        width: calc(12.5vw - 2 * 4px);

        align-items: center;
        justify-content: center;

        transition: .1s ease-in-out;

        @media (min-width: 450px)  {
            margin: 0 6px;
            width: 45px;
        }

        &.actionable {
            cursor: pointer;
            outline: $color-accent 4px solid;

            &:hover {
                background-color: rgb(255, 234, 234);
            }
        }

        &.big {
            height: calc(140px + 2em);
        }

        &.empty {
            color: white;
        }
    }
}